:root {
  --main-color: #000000;
  --secondary-color: #FFFFFF;
  --third-color: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  width: 100vw;
  overflow-x: hidden !important;

  body {
    width: 100%;
    overflow-x: hidden;

    #root {
      width: 100%;
      overflow-x: hidden;


    }
  }
}

ul {
  list-style: none;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}


.wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;


  &.dark {
    background-color: var(--main-color);
  }

  &.light {
    background-color: var(--secondary-color);
  }
}

.wrapper-children {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;


  &.wrapper-footer {
    padding: 8rem 0;

    @media screen and (max-width: 820px) {
      flex-direction: column;
      row-gap: 2rem;
      ;

    }
  }

  &.wrapper-header {
    padding: 1rem 0;
  }
}



.btn_links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin-bottom: 6rem;

  @media screen and (max-width: 460px) {
      flex-direction: column;
      
  }
}